# Build outputs
/dist/
/data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cache des fichiers FAA (un téléchargement par cycle AIRAC)
.cache/
